.home{
    background-color: gray;
    height:50px;
    width: 100%;
    color: white;
    font-size: 22px;
  }
  .box{
    height: 250px;
    width: 80%;
    border-radius: 5px;
    border-color: aqua;
    background-color: aqua;
  }

  #sapna {
    border: 5px solid #3498DB !important;
    background: #6E7B8B !important; 
    border-radius:5px!important;
    margin-left:2px;
  
  }

  .fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
    color: red;
  
  }
   
  .float-right {
    text-align: end;
    font-weight:bold;
  }
