.home{
    background-color: gray;
    height:50px;
    width: 100%;
    color: white;
    font-size: 22px;
  }
  .box{
    height: 250px;
    width: 80%;
    border-radius: 5px;
    border-color: aqua;
    background-color: aqua;
  }

  ::ng-deep .mdc-dialog__surface{
    overflow-y: hidden;
  }